{% extends 'base.html' %}
{% block content %}

<h1>Welcome to {{classroom_name}}!</h1>
<h2>Send this link to a friend to add them to this classroom: <a href=/invite/{{invite_dir}}>localhost/invite/{{invite_dir}}</a></h2>
<form action = "" method = "POST" novalidate >
  
  {{form.hidden_tag()}}
  <p>
    {{form.message.label}}
    {{form.message(size=64)}}
  </p>
  {{form.submit()}}
  
  {% for message in messages %}
  <p>
  <h3>{{message.message}}</h3>
  <h4>{{message.sender}}</h4>
  </p>

{% endblock %}
