{% extends "base.html"%}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
  <a class="navbar-brand" href="#">StudyAid</a>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
	<h1> Welcome to StudyAid, 
	{% if user.is_anonymous %}
	stranger
	{% endif %}
	{{user.username}}!</h1>

{% if user.is_anonymous %}
<h2><a href="/login">Login</a></h2>
<h2><a href="/register">Register</a></h2>
{% else %}
<h2><a href="/search">User search</a></h2>
<h2><a href="/options">Options</a></h2>
<h2><a href="/classrooms">Classrooms</a></h2>
<h2><a href="/logout">logout</a></h2>
{% endif %}


{% endblock %}
