{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">StudyAid</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header bg-light">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Account</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        <ul class="navbar-nav navbar-dark bg-dark justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/options">Options</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
        </li>
	</ul>
        </div>
        </div>
        </div>
	</nav>

<h1> Frequently Asked Questions In {{classroom_name}}! </h1>
<h1> Ask Question </h1>
<form actions= "" method = "POST" novalidate>
	{{form.hidden_tag()}}
	
	<p>
	{{form.question.label}}
	{{form.question(size = 64)}}
	</p>

	{{form.submit()}}
</form>

{% if questions %}

	{% for question in questions %}
	<h2> {{question.question}} </h2>
	
	{% if question.answer == None %}
	<a href="/classroom/answers/{{question.id}}" class="btn btn-secondary btn-lg btn-block active"> Click here to answer question </a>
	
	{% else %}
	<h4> {{question.answer}} </h4>

	{% endif %}
	{% endfor %}

{% endif %} 



{% endblock %}
